html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.profile {
  width: 250px;
  text-align: center;
  margin: auto;
  border: solid 1px blue;
  box-shadow: 10px 10px 8px 2px rgba(0, 0, 0, 0.3);
}

.description {
  width: 250px;
  height: auto;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  text-align: center;
  margin: auto;
  margin-top: 15px;
}

.name {
  font-size: 18px;
  color: #333333;
  font-weight: 700;
  margin-top: 30px;
}

.tag {
  font-size: 14px;
  color: #666666;
  text-align: center;
  margin-top: 10px;
}

.location {
  font-size: 14px;
  color: black;
  line-height: 32px;
  margin-top: 5px;
  margin-bottom: 30px;
}

.stats {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  background-color: blue;
  border-radius: 0 0 5px 5px;
}

.list {
  flex-direction: column;
  align-items: center;
  border: solid 1px rgb(0, 68, 255);
  width: 85px;
}

.label {
  color: black;
  font-weight: bold;
  padding-top: 22px;
  font-size: 15px;
  display: flex;
}

.quantity {
  padding-bottom: 22px;
  line-height: 1.2;
  font-weight: bold;
  font-size: 14px;
  display: flex;
  justify-content: center;
}
